
.waves {
    display: flex;
    justify-content: center;
}
.waves__individual {
    margin: -3px;
    width: 60px;
    height: 30px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background-color: $wavesColor;
}